.calendar {
  display: flex;
  text-align: center;
}

#previous, #next {
  position: absolute;
  top: 120px;
  height: 30px;
  width: fit-content;
  align-self: center;
  align-items: center;
  padding: 0 15px;
  margin: 20px;
}

#previous {
  left: 10vw;
}

#next {
  right: 10vw;
}

.calendar div.dayOfWeek:nth-child(2) {
  border-left: 2px solid black;
}

.calendar div.dayOfWeek {
  justify-content: center;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  min-height: 70vh;
  max-height: fit-content;
  width: 10vw;
}

.calendar > div > p {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.calendar .item {
  width: inline-block;
  cursor: pointer;
  list-style: none;
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.5);
  margin:10px 10px 0px 10px;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.5);
}

.calendar .item p {
  margin: 0;
}

.calendar .item p.smallText {
  font-size: .75rem;
  color: rgba(255, 255, 255, 0.67);
}




#addItemButton {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
}
#calendarView {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 7rem;
}

.createEventForm {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  left:0;
}

.createEventForm form {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  padding: 100px 100px 130px 100px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -300px;
  border-radius: 30px;
}

.createEventForm form label {
  text-align: left;
}

.createEventForm form input {
  padding: 5px;
}

.createEventForm form #close {
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 18px;
  background-color: black;
}

.createEventForm form #confirmation {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

.item.dragging :where(#details) {
  opacity: 0;
}



.calendarMonthView .dayOfWeek {
  display:grid;
  grid-template-rows: .5fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-columns: repeat(1, 1fr [col-start]);
}

.smallNumber {
  font-size: .75rem;
  color: rgba(255, 255, 255, 0.77);
  position: absolute;
  display: inline-block;
  padding: 5px 7px 5px 5px;
  margin: 0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 11px;
}

.notCurrentMonth {
  color: rgba(255, 255, 255, 0.47);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.dateContainer {
  border-bottom: 1px solid black;
  /* height: 18%; */
  width: 100%;
  text-align: left;
}

.dateContainer .item {
  margin:5px 10px 5px 40px;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
